<div class="form-grid">
  <div class='mt-5 mx-5 p-5'>
    <h2>Sign up</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :full_name,
                    autofocus: true,
                    required: true %>
        <%= f.input :address,
                    required: true %>
        <%= f.input :email,
                    required: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: 'btn btn-dark btn-block' %>
      </div>
        <% end %>
    <div class="links">
        <%= render "devise/shared/links" %>
    </div>
</div>
    <div class='image-sing' style="background-image: url(https://images.unsplash.com/photo-1506368249639-73a05d6f6488?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);"></div>
