<div class="container-calendar">
  <div class="calendar">
    <h2 class>Plan your meals</h2>
    <h4>Schedule</h4>
    <%= week_calendar do |date| %>
      <div class="schedule-recipe-calendar">
        <div class="time-slot" style="height: 33%;">
          <p>Breakfast</p>
          <div class="<%= current_user.scheduled_recipes.where(scheduled_date: date, time_of_day: "breakfast").count.positive? ? '' : 'recipe-slot' %>" data-date="<%= date %>" data-time="breakfast">
            <% current_user.scheduled_recipes.where(scheduled_date: date, time_of_day: "breakfast").each do |scheduled_recipe| %>
              <%= render 'scheduled_recipes/scheduled_recipe', scheduled_recipe: scheduled_recipe %>
            <% end %>
          </div>
        </div>
        <div class="time-slot">
          <p>Lunch</p>
          <div class="<%= current_user.scheduled_recipes.where(scheduled_date: date, time_of_day: "lunch").count.positive? ? '' : 'recipe-slot' %>" data-date="<%= date %>" data-time="lunch">
            <% current_user.scheduled_recipes.where(scheduled_date: date, time_of_day: "lunch").each do |scheduled_recipe| %>
              <%= render 'scheduled_recipes/scheduled_recipe', scheduled_recipe: scheduled_recipe %>
            <% end %>
          </div>
        </div>
          <div class="time-slot">
          <p>Dinner</p>
          <div class="<%= current_user.scheduled_recipes.where(scheduled_date: date, time_of_day: "dinner").count.positive? ? '' : 'recipe-slot' %>" data-date="<%= date %>" data-time="dinner">
            <% current_user.scheduled_recipes.where(scheduled_date: date, time_of_day: "dinner").each do |scheduled_recipe| %>
              <%= render 'scheduled_recipes/scheduled_recipe', scheduled_recipe: scheduled_recipe %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="fav-recipes">
  <br>
    <h4 class="text-center">Favourites</h4>
    <ul id="favorite-recipes" class="list-unstyled">
      <% @favorites.each do |recipe| %>
        <li class="media" data-url="<%= recipe_scheduled_recipes_path(recipe, format: :json) %>">
          <% if recipe.photo.nil? %>
            <div style="background-image: url('https://scontent.fmel14-2.fna.fbcdn.net/v/t1.6435-9/fr/cp0/e15/q65/190142158_932562257539177_6924772229027277610_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=ed5ff1&efg=eyJpIjoidCJ9&_nc_ohc=Zi227EIvdxAAX8o1PbW&tn=cSAD7cv6Xl1GU-x2&_nc_ht=scontent.fmel14-2.fna&oh=8ef34d5a54662edb89609269a48f9433&oe=61D3EDDE')">
            </div>
          <% else %>
            <div style="background-image: url('<%= recipe.photo %>')">
            </div>
          <% end %>
          <div class="media-body">
            <h5 class="mt-0 mb-1"><%= recipe.name %></h5>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= javascript_pack_tag 'calendar_sortable' %>
