
<div class="row" style="margin-left: 100px; margin-top: 50px;" >
  <%= link_to '< Back to Recipes', recipes_path, :style=>"color: rgba(0,0,0,1);"%>
</div>

<div class='title'>

</div>
<div class="container-calendar">
  <div class="calendar">
    <h1 class="text-center">My recipes</h1>
    <%= week_calendar do |date| %>
    <div style="height: 400px;">
          <div style="height: 33%;">
            <p>Breakfast</p>
            <div class="recipe-slot" data-date="<%= date %>" data-time="breakfast" style="height: 100%;">
              <% current_user.scheduled_recipes.where(scheduled_date: date, time_of_day: "breakfast").each do |scheduled_recipe| %>
                <%= render 'scheduled_recipes/scheduled_recipe', scheduled_recipe: scheduled_recipe %>
              <% end %>
            </div>
          </div>
          <div style="height: 33%;">
            <p>Lunch</p>
            <div class="recipe-slot" data-date="<%= date %>" data-time="lunch" style="height: 100%;">
              <% current_user.scheduled_recipes.where(scheduled_date: date, time_of_day: "lunch").each do |scheduled_recipe| %>
                <%= render 'scheduled_recipes/scheduled_recipe', scheduled_recipe: scheduled_recipe %>
              <% end %>
            </div>
          </div>
            <div style="height: 33%;">
            <p>Dinner</p>
            <div class="recipe-slot" data-date="<%= date %>" data-time="dinner" style="height: 100%;">
              <% current_user.scheduled_recipes.where(scheduled_date: date, time_of_day: "dinner").each do |scheduled_recipe| %>
                <%= render 'scheduled_recipes/scheduled_recipe', scheduled_recipe: scheduled_recipe %>
              <% end %>
            </div>
          </div>
    </div>
    <% end %>
  </div>
  <div class="fav-recipes">
    <h1 class="text-center">Favorite Recipes</h1>
    <div>See all your recipes</div>
      <div id="favorite-recipes" class="list-group">
        <% @favorites.each do |recipe| %>
          <div class="list-group-item" data-url="<%= recipe_scheduled_recipes_path(recipe, format: :json) %>"> <%= recipe.name %></div>
        <% end %>
  </div>
</div>

<%= javascript_pack_tag 'calendar_sortable' %>


