<div class="container-calendar">
  <div class="calendar">
    <h2 class>Plan your meals</h2>
    <h4>Schedule</h4>
    <%= week_calendar do |date| %>
      <div class="schedule-recipe-calendar">
        <div class="time-slot" style="height: 33%;">
          <p>Breakfast</p>
          <div class="<%= current_user.scheduled_recipes.where(scheduled_date: date, time_of_day: "breakfast").count.positive? ? '' : 'recipe-slot' %>" data-date="<%= date %>" data-time="breakfast">
            <% current_user.scheduled_recipes.where(scheduled_date: date, time_of_day: "breakfast").each do |scheduled_recipe| %>
              <%= render 'scheduled_recipes/scheduled_recipe', scheduled_recipe: scheduled_recipe %>
            <% end %>
          </div>
        </div>
        <div class="time-slot">
          <p>Lunch</p>
          <div class="<%= current_user.scheduled_recipes.where(scheduled_date: date, time_of_day: "lunch").count.positive? ? '' : 'recipe-slot' %>" data-date="<%= date %>" data-time="lunch">
            <% current_user.scheduled_recipes.where(scheduled_date: date, time_of_day: "lunch").each do |scheduled_recipe| %>
              <%= render 'scheduled_recipes/scheduled_recipe', scheduled_recipe: scheduled_recipe %>
            <% end %>
          </div>
        </div>
          <div class="time-slot">
          <p>Dinner</p>
          <div class="<%= current_user.scheduled_recipes.where(scheduled_date: date, time_of_day: "dinner").count.positive? ? '' : 'recipe-slot' %>" data-date="<%= date %>" data-time="dinner">
            <% current_user.scheduled_recipes.where(scheduled_date: date, time_of_day: "dinner").each do |scheduled_recipe| %>
              <%= render 'scheduled_recipes/scheduled_recipe', scheduled_recipe: scheduled_recipe %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="fav-recipes">
  <br>
    <h4 class="text-center">Favourites</h4>
    <ul id="favorite-recipes" class="list-unstyled">
      <% @favorites.each do |recipe| %>
        <li class="media" data-url="<%= recipe_scheduled_recipes_path(recipe, format: :json) %>">
        <div style="background-image: url('<%= recipe.photo %>')">
        </div>
          <div class="media-body">
            <h5 class="mt-0 mb-1"><%= recipe.name %></h5>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= javascript_pack_tag 'calendar_sortable' %>
