<%# <div class="row" style="margin-left: 100px; margin-top: 50px;" >
  <%= link_to '< Back', recipes_path, :style=>"color: rgba(0,0,0,1);"%>
<%# </div>  %>

<div class="photo" style="background-image: url('<%= @recipe.photo %>')"></div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card mb-3">

        <h2 class="card-title line-clamp-2 pl-3 pr-3">
          <%= @recipe.name %>
            <%= link_to toggle_favorite_recipe_path(@recipe), remote: true, method: :post do %>
              <%= render 'like_button', recipe: @recipe %>
            <% end %>
        </h2>
      <div class="card-body">
        <p class="card-text">
          <small class="text-muted">
            <span class="badge badge-light">Preparation <br><%= @recipe.time.split(".").first %></span>
            <span class="badge badge-light">Cooking <br><%= @recipe.time.split(".")[1] %></span>
            <span class="badge badge-light">Resting <br><%= @recipe.time.split(".").last %></span>
            <span class="badge badge-light">Servings<br><%= @recipe.servings %> </span>
          </small>
        </p>
      </div>

        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4 text-justify">
              <h4>Ingridients</h4>
              <% @recipe.ingredients.each do |ing| %>
                <% if ing.quantity == nil %>
                  <%= ing.name.capitalize %>
                <% else %>
                  <%# <p class="ingridient-name">%> <%= ing.quantity %><%= ing.name.capitalize %>
                  <%# </p> %>
                  <br>
                <% end %>
              <% end %>
            </div>
            <div class="col-md-8 text-justify">
              <h4>Method</h4>
              <% @recipe.recipe_methods.each do |i| %>
                <%= i.instructions %>
                <br>
                <br>
              <% end %>
              <h4 class="card-title">Reviews
                <a href="<%=  new_recipe_review_path(@recipe) %>" class="btn btn-dark">Add review</a>
              </h4>
                <% if @recipe.reviews.length == 0  %>
                  <p>No reviews yet</p>
                <% end %>
                <div>
                  <% @recipe.reviews.each do |review| %>
                    <%= review.rating %> <br>
                    <%= review.content %>
                  <% end %>
                </div>
              <br>
              <br>
              
              <h4 class="card-title">Nutritional Information</h4>
                <p>
                  <% (JSON.parse @recipe.macros.gsub('=>', ':')).values.each_with_index do |v, i| %>
                  <%= v %> <%= (JSON.parse @recipe.macros.gsub('=>', ':')).keys[i] %>
                  <br>
                  <% end %>
                </p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'toggle_like' %>
