<div class="photo" style="background-image: url('<%= @recipe.photo %>')">
<div class="container-photo">
  <div class="card-body">
      <h2 class="card-title line-clamp-2 pr-3" style="text-shadow: 2px 2px 5px rgb(0 0 0 / 60%)">
        <%= @recipe.name %>
          <%= link_to toggle_favorite_recipe_path(@recipe), remote: true, method: :post do %>
            <%= render 'like_button', recipe: @recipe %>
          <% end %>
      </h2>
      <small>
        <div>
          <div>Preparation</div>
          <div><span class="badge badge-light"> <%= @recipe.time.split(".").first %></span></div>
        </div>
        <div>
          <div>Cooking</div>
          <div><span class="badge badge-light"><%= @recipe.time.split(".")[1] %></span></div>
        </div>
        <div>
          <div>Resting</div>
          <div><span class="badge badge-light"><%= @recipe.time.split(".").last %></span></div>
        </div>
        <div>
          <div>Servings</div>
          <div><span class="badge badge-light"><%= @recipe.servings %> </span></div>
        </div>
      </small>
  </div>
</div>
</div>
<div class="row container-details">
  <div class="col-md-10 offset-md-1">
    <div class="mb-3">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4 text-justify">
              <h4>Ingredients</h4>
              <ul>
                <% @recipe.ingredients.each do |ing| %>
                  <% if ing.quantity == nil %>
                  <li><%= ing.name.capitalize %></li>
                  <% else %>
                    <li> <span><%= ing.quantity %></span><span><%= ing.name.capitalize %></span></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
            <div class="col-md-8 text-justify">
              <h4>Method</h4>
              <ol>
              <% @recipe.recipe_methods.each do |i| %>
                <li><%= i.instructions %></li>
              <% end %>
              </ol>
              <h4 class="card-title">Reviews
                <a href="<%=  new_recipe_review_path(@recipe) %>" class="btn btn-ghost">Add review</a>
              </h4>
                <% if @recipe.reviews.length == 0  %>
                  <p>No reviews yet</p>
                <% end %>
                <div>
                  <% @recipe.reviews.each do |review| %>
                    <span class="badge badge-light"><%= review.rating %> Stars </span><br>
                    <h6 style= 'font-family: Libre Baskerville;'><%= review.user.full_name%></h6>
                    <%= review.content %>
                    <br>
                    <br>

                  <% end %>
                </div>
              <br>
              <br>

              <h4 class="card-title">Nutritional Information</h4>
                <ul>
                    <% (JSON.parse @recipe.macros.gsub('=>', ':')).values.each_with_index do |v, i| %>
                  <li class="li-macros">
                  <span><%= v %></span><span> <%= (JSON.parse @recipe.macros.gsub('=>', ':')).keys[i] %>
                    <br>
                    </span>
                  </li>
                    <% end %>
                </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'toggle_like' %>
