<div class="container">

<%= link_to Date.today.strftime("%A"), shopping_lists_path, :style=>"color: rgba(0,0,0,1);"%>&nbsp;&nbsp;
<%= link_to (Date.today + 1).strftime("%A"), shopping_lists_path, :style=>"color: rgba(0,0,0,1);"%>&nbsp;&nbsp;
<%= link_to (Date.today + 2).strftime("%A"), shopping_lists_path, :style=>"color: rgba(0,0,0,1);"%>&nbsp;&nbsp;
<%= link_to (Date.today + 3).strftime("%A"), shopping_lists_path, :style=>"color: rgba(0,0,0,1);"%>&nbsp;&nbsp;
<%= link_to (Date.today + 4).strftime("%A"), shopping_lists_path, :style=>"color: rgba(0,0,0,1);"%>&nbsp;&nbsp;
<%= link_to (Date.today + 5).strftime("%A"), shopping_lists_path, :style=>"color: rgba(0,0,0,1);"%>&nbsp;&nbsp;
<%= link_to (Date.today + 6).strftime("%A"), shopping_lists_path, :style=>"color: rgba(0,0,0,1);"%>
<br>
<br>

<% ingredients = IngCompiler.new.turn_to_hash(@scheduled_recipes.all)%>
  <% ingredients.each do |name, val| %>
    <% if val[:qty] == 0 %>
      <%= name.capitalize.chop %>
    <% else %>
      <% if val[:measurement] == 0 || val[:measurement].nil? %>
        <strong><%= val[:qty] %> <%= val[:measurement] %></strong> - <%= name.capitalize %>
      <% else %>
        <strong><%= val[:qty] %> <%= val[:measurement] %></strong> - <%= name.capitalize.singularize %>
      <% end %>
    <% end %>
      <br>
  <% end %>
</div>
