<div class="form-grid">
<div class='mt-5 mx-5 p-5'>

  <h3>New Review for <br>
    <strong><%= @recipe.name %></strong></h3>
    <br>
      <div class="form-container ">
        <%= simple_form_for [@recipe, @review ] do |f| %>
          <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
          <%= f.input :content %>
          <%= f.submit class: 'btn btn-dark btn-block' %>
        <% end %>
      </div>


</div>
<div class='image-sing' style="background-image: url(<%= @recipe.photo %>);"></div>
</div>
