<div class="container py-5">
  <h3 class="text-center">Set your goals</h3>

  <%= simple_form_for @user, url: user_goals_path, method: 'post' do |f| %>
    <div class="category-wrapper">
    <% @categories.each do |category, icon| %>
    <div class="category-item">
      <input class="form-check-input check_boxes optional category-selector" type="checkbox" value="<%= category %>" name="user[goals][]" id=<%= category.gsub(" ", "") %>>
      <label class="form-check-label collection_check_boxes" for=<%= category.gsub(" ", "") %>>
      <i class='<%= icon %>' style="font-size: 24px; margin-bottom: 10px;"></i>
      <%= category %>
      </label>
    </div>
      <% end %>
    </div>
    <%= f.submit 'Set Goals',class: 'btn btn-dark' %>
  <% end %>
</div>
